#tabbar{
    background: rgb(90, 90, 90);
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnImg{
    width: 4vw;
    line-height: 100%;
    position: relative;
    top: 1vw;
}