@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637060804446') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3vh;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditu:before {
  content: "\e61f";
}

.icon-xinjian:before {
  content: "\ec6c";
}

.icon-quxiaodingdan:before {
  content: "\e604";
}

